* {
  font-family: 'Comfortaa', sans-serif;
}

body {
  background-color: white;
  margin: 0;
}
   
button {
  background-color: white;
}
  
.header {
  background-color: white;
  border-bottom: 0px solid transparent;
  padding: 10px 0;
  position: relative;
  box-shadow: 0 4px 10px rgba(93, 204, 139, 0.3);
}
  
.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, #ceff92, #75c54f, #5dcc8b);
  background-size: 300% 100%;
  animation: gradientMove 5s linear infinite;
}
  
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}
  
.navbar-tmp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 10px 500px;
  border-radius: 10px;
}
  
.navbar-tmp-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex: 1;
  padding: 15px;
  background: linear-gradient(to right, #a1d65f, #75c54f, #5dcc8b);
  border-radius: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
  
.navbar-logo h1 {
  font-size: 24px;
  margin: 0;
}
  
.navbar-links {
  display: flex;
  gap: 15px;
}
  
.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease;
}
  
.navbar-links a:hover {
  text-decoration: underline;
  color: #c8ffda;
}
  
.navbar-search input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.3s ease;
}
  
.navbar-search input:focus {
  border-color: #fff;
}
  
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.header-logo img {
  height: 100px;
  width: auto;
}
  
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
  
.header-title {
  color: #45a049;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}
  
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.modal-content {
  width: 50%;
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
  
.modal-content h2 {
  margin-bottom: 25px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.modal-delete {
  align-items:normal;
}
  
.content-delete {
  width: 35%;
  height: 19%;
  background-color: white;
  padding: 5px 15px 0px 15px;
}
  
.modal-content-delete p {
  font-size: 16px;
  margin-bottom: 25px;
}
  
.content-product {
  width: 80%;
  height: 80%;
  overflow: auto;
}

.product-container {
  gap: 16px;
  display: flex;
  justify-content: space-between; 
  align-items: center;
}
  
.product-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
}  

.lable {
  font-size: 16px;
}
  
.input-field {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
}
  
.textarea {
  font-family: Sans-Serif;
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  min-height: 130px;
}
  
.button-container {
  display: flex;
  justify-content: center;
}
  
.edit-button {
  background-color: blue;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-left: 100px;
}
  
.edit-button:hover {
  background-color: darkblue;
}
  
.delete-button {
  background-color: red;
  color: white;
  padding: 15px;
  border-radius: 5px;
  margin-right: 30px;
}
  
.delete-button:hover {
  background-color: darkred;
}
  
.save-button, .reset-button, .close-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.save-button {
  background-color: green;
  color: white;
  margin-right: 10px;
}
  
.save-button:hover {
  background-color: darkgreen;
}
  
.reset-button {
  background-color: orange;
  color: white;
}
  
.reset-button:hover {
  background-color: darkorange;
}
  
.close-button {
  background-color: red;
  color: white;
  margin-left: 10px;
}
  
.close-button:hover {
  background-color: darkred;
}
  
.close-button-product {
  background: none;
  border: none;
  margin-top:-10px;
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.close-button-product:hover {
  color: red;
}

.add-button {
  background-color: #05940c;
  color: white;
  padding: 15px 15px;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.add-button:hover {
  background-color: #05770b;
}
  
.product-details {
  margin-top: 10px;
  padding: 10px;
  background: linear-gradient(to right, #deeeca, #d3fac2, #b2f7cf);
  background-size: 200% 50%;
  animation: gradientMove 5s linear infinite;
  border-radius: 8px;
}
  
.harvest-card {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
  
.harvest-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
.harvest-header h3 {
  cursor: pointer;
  margin: 0;
}
  
.harvest-item {
  background: linear-gradient(to right, #deeeca, #d3fac2, #b2f7cf);
  background-size: 200% 50%;
  animation: gradientMove 5s linear infinite;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #05b91d;
  border-radius: 8px;
}
  
.harvest-detail {
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #05b91d;
  margin-top: 10px;
  border-radius: 10px;
}
  
.harvest-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
  
.tracking-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
  
.tracking-item {
  flex: 1 1 calc(25% - 10px);
  box-sizing: border-box;
  padding: 10px;
  border: 1px dashed #05b91d;
  border-radius: 8px;
  background-color: #ffffff;
  min-width: 200px;
}
  
.harvest-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.harvest-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.harvest-info h3 {
  font-size: 1.2em;
  margin: 0;
  color: #333;
  font-weight: bold;
}

.harvest-info p {
  margin: 12px 0 0 0;
  color: #777;
  font-size: 1em;
}

.harvest-info p strong {
  font-weight: 600;
  color: #555;
}

@media (max-width: 799px) and (min-width: 300px) and (max-height: 915px) and (min-height: 666px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 10px;
    background: #75c54f;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
  }
  .navbar-links.active {
    display: flex;
  }
  .navbar-menu-icon {
    display: block;
  }
  .navbar-tmp {
    padding: 10px 20px;
  }
  .modal-content {
    width: 70%;
  } 
  .modal-content-delete {
    width: 50%;
  }
}
  
@media (max-width: 999px) and (min-width: 800px) {
  .navbar-tmp {
    padding: 15px 20px;
  }
  .navbar-search input {
    padding: 8px 8px;
  }
  .modal-content {
    width: 50%;
  }
  .modal-content-delete {
    width: 50%;
  }
}
  
@media (max-width: 1199px) and (min-width: 1000px) {
  .navbar-tmp {
    padding: 20px 100px;
  }
  .modal-content {
    width: 40%;
  }
  .modal-content-delete {
    width: 40%;
  }
}
  
@media (max-width: 1399px) and (min-width: 1200px) {
  .navbar-tmp {
    padding: 20px 150px;
  }
}
  
@media (max-width: 1599x) and (min-width: 1400px) {
  .navbar-tmp {
    padding: 20px 200px;
  }
}
  
@media (max-width: 1799px) and (min-width: 1600px) {
  .navbar-tmp {
    padding: 20px 250px;
  }
}
  
@media (max-width: 2000px) and (min-width: 1800px) {
  .navbar-tmp {
    padding: 20px 300px;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  padding-left: 10px;
}

.product-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: left;
  padding: 0px 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.product-item img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}

.product-item h3 {
  font-size: 18px;
  margin: 12px 0 8px;
  color: #333;
}

.product-item p {
  font-size: 14px;
  color: #666;
}

@media (max-width: 768px) {
    .product-list {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
    .product-item h3 {
      font-size: 16px;
    }
    .product-item p {
      font-size: 12px;
    }
  }

.file-input {
  margin-bottom: 10px;
}

.image-preview {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

.image-thumbnail {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 8px;
  border: 1px solid #ccc;
  object-fit: cover;
}

.image-preview p {
  font-size: 14px;
  color: #555;
  margin-top: 10px;
  font-weight: bold;
}